nav{
    font-family:"Cabin", sans-serif;
    background-image: radial-gradient(circle, black 75%, cyan);
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
    height: 8vh;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    overflow: hidden;
}

.grid-item p{
    margin:0;
}

.navbar a{
    float: left;
    font-size: 1.5rem;
    text-align: center;
    padding: auto;
    text-decoration: none;
    color:white;
    transition: transform 0.5s ease;
}

.navbar a:hover{
    transform:scale(1.05);
    color:cyan;
}

.dropdownmenu .dropdown-button{
    font-size: inherit;
    border: none;
    outline: none;
    color: inherit;
    padding: auto;
    height: 8vh;
    background-color: inherit;
    transition: transform 0.5s ease;
}

.dropdownmenu:hover .dropdown-button{
    transform: scale(1.05);
    color: cyan;
}

.dropdownmenu a:hover {
    background-color: cyan;
    color: black;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-image: radial-gradient(circle, black 60%, cyan);
    color: white;
    padding: 0.5rem;
    z-index: 1;
}

.dropdown-content a {
  float: none;
  color: inherit;
  padding: auto;
  display: block;
  text-align: center;
  transition: background-color 0.5s ease;
}

.dropdownmenu:hover .dropdown-content {
  display: block;
}

#logo{
    height: 8vh;  
}

body{
    margin: 0%;
}

h1, p{
    font-family:"Cabin", sans-serif;
}

footer{
    font-family:"Cabin", sans-serif;
}