/**** Code Formatter Used 12:29 2/9/2025 ****/
/* Body Page Configurations */
body {
	margin:0%;
	font-family:"Cabin",sans-serif;
}
/* Navbar Configurations */
nav {
	background-image:radial-gradient(circle,black 75%,cyan);
	border:0.25vw solid black;
	box-sizing:border-box;
	display:grid;
	grid-template-columns:1fr repeat(5,2fr) 1fr;
	height:8vh;
	overflow:hidden;
	font-size:1.5rem;
}
nav > div > a {
	color:white;
	transition:transform 0.5s ease;
}
nav > div > a:not(#logo):hover {
	color:cyan;
	transform:scale(1.2);
}
a {
	display:flex;
	align-items:center;
	justify-content:center;
}
.navgrid-item {
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	font-size:1.5rem;
	overflow:hidden;
}
#logo,#gear {
	height:8vh;
}
/* Subnav Menu Configurations */
.subnav .subnav-button {
	font-size:inherit;
	border:none;
	outline:none;
	color:inherit;
	height:8vh;
	background-color:inherit;
	transition:transform 0.5s ease;
	margin:0;
	text-decoration:underline;
}
.subnav:hover .subnav-button {
	transform:scale(1.2);
	color:cyan;
}
.subnav a:hover {
	background-color:cyan;
	color:black;
}
.subnav-content {
	display:none;
	position:absolute;
	left:0;
	background-color:black;
	color:white;
	width:100%;
	border:0.2vw solid cyan;
	box-sizing:border-box;
	opacity:88%;
	z-index:3;
}
.subnav a {
	float:left;
	color:inherit;
	padding:.2rem;
	padding-left:1rem;
	padding-right:1rem;
	display:block;
	transition:background-color 0.5s ease;
}
.subnav:hover .subnav-content {
	display:block;
}
a.home {
	float:right;
}
/* Dropdown Menu Configurations */
.langmenu {
	border:none;
	outline:none;
	height:8vh;
}
.langmenu .langbutton {
	border:none;
	outline:none;
	color:inherit;
	background-color:inherit;
	margin:0;
}
.langmenu > div > div:hover {
	background-color:cyan;
	color:black;
}
.langcontent {
	display:none;
	position:absolute;
	background-color:black;
	color:white;
	border:0.2vw solid cyan;
	box-sizing:border-box;
	right:0;
	opacity:88%;
	z-index:3;
}
.langmenu > div > div {
	color:inherit;
	padding:0.5rem;
	display:inline-block;
	transition:background-color 0.5s ease;
}
.langmenu:hover .langcontent {
	display:block;
}
/* Main Page Content Configurations */
main {
	margin:0;
	height:87vh;
	display:grid;
	grid-template-columns:2fr repeat(2,1fr);
	grid-template-rows:repeat(2,1fr);
	background-color:rgb(15,15,15);
	color:white;
}
#Wood-Background {
	height:87vh;
	width:100%;
	grid-column:2 / span 2;
	grid-row:1 / span 2;
	border-radius:50rem 0 0 50rem;
	border-left:0.5vw solid black;
	box-sizing:border-box;
	z-index:0;
	mask-image:linear-gradient(to right,rgba(0,0,0,.25) 0%,rgba(0,0,0,1) 100%);
}
#Target-Background {
	height:80vh;
	aspect-ratio:1/1;
	grid-column:1 / span 1;
	grid-row:1 / span 2;
	margin:auto;
	z-index:0;
	opacity:22%;
}
main > h1 {
	margin:0;
	grid-column:1 / span 1;
	grid-row:1 / span 1;
	margin:auto;
	margin-bottom: 3.3vh;
	margin-left:5vw;
	margin-right:15vw;
	font-size:4rem;
	text-decoration:underline;
	z-index:1;
}
main > p {
	margin:0;
	grid-column:1 / span 1;
	grid-row:2 / span 1;
	margin:auto;
	margin-left:5vw;
	margin-top:0;
	padding-right:5vw;
	font-size:1.2rem;
	z-index:1;
}
.grid-photo {
	height:35vh;
	aspect-ratio:1/1;
	border-radius:3rem;
	z-index:2;
	border:0.2vw solid black;
	box-sizing:border-box;
	margin:auto;
}
#Manchu-Archer {
	grid-column:2 / span 1;
	grid-row:1 / span 1;
	margin-right:0;
}
#Fowl-Hunter {
	grid-column:3 / span 1;
	grid-row:1 / span 1;
}
#Martin-Rulsch {
	grid-column:2 / span 1;
	grid-row:2 / span 1;
	margin-right:0;
}
#Professor-Kyudo {
	grid-column:3 / span 1;
	grid-row:2 / span 1;
}
/* Footer Configurations */
footer {
	height:5vh;
	background-image:radial-gradient(circle,black 75%,cyan);
	color:white;
	display:grid;
	grid-template-columns:repeat(3,1fr);
	border:0.25vw solid white;
	box-sizing:border-box;
}
.footer-item {
	display:flex;
	align-content:center;
	justify-content:center;
	margin:auto;
}
.footer-item > a {
	color:cyan;
}
/***** Responsive Actions [Media Queries] *****/
@media screen and (max-width:500px) {
	nav {
	grid-template-columns:repeat(4,1fr);
	grid-template-rows:repeat(3,1fr);
	height:20vh;
	background-image:radial-gradient(circle,black 60%,cyan);
}
.navgrid-item {
	font-size:1.2rem;
}
a.home{
	display:none;
}
#home-logo{
	grid-column:1 / span 2;
	grid-row:1 / span 3;
}
#logo{
	height:20vh;
}
#gear {
	height:6.5vh;
}
main {
	display:grid;
	grid-template-columns:repeat(2,1fr);
	grid-template-rows:repeat(4,1fr);
	height:67.5vh;
}
#Target-Background {
	height:30vh;
	width:30vh;
	margin:auto;
	grid-column:1 / span 2;
	grid-row:1 / span 2;
}
#Wood-Background {
	height:100%;
	width:100%;
	grid-column:1 / span 2;
	grid-row:3 / span 2;
	border-radius:40vw 40vw 0 0;
	border-left:0vw;
	border-top: 0.5vh solid black;
	mask-image:linear-gradient(to bottom,rgba(0,0,0,.25) 0%,rgba(0,0,0,1) 100%);
}
main > h1 {
	margin:0;
	grid-column:1 / span 2;
	grid-row:1 / span 1;
	padding-top:0;
	padding-right:0;
	font-size:2.55rem;
	margin:auto;
	margin-top:7vh;
	text-align:center;
}
main > p {
	margin:0;
	grid-column:1 / span 2;
	grid-row:2 / span 1;
	margin-left:0;
	margin-bottom:4vh;
	padding-bottom:0;
	padding-left:5vw;
	padding-right:5vw;
	font-size:.65rem;
	text-align:center;
}
.grid-photo {
	height:25vw;
	aspect-ratio:1/1;
	border-radius:3rem;
	z-index:2;
	border:0.2vw solid black;
	box-sizing:border-box;
}
#Manchu-Archer {
	grid-column:1 / span 1;
	grid-row:3 / span 1;
	margin:auto;
	margin-right:2.5vw;
}
#Fowl-Hunter {
	grid-column:2 / span 1;
	grid-row:3 / span 1;
	margin:auto;
	margin-left:2.5vw;
}
#Martin-Rulsch {
	grid-column:1 / span 1;
	grid-row:4 / span 1;
	margin:auto;
	margin-right:2.5vw;
}
#Professor-Kyudo {
	grid-column:2 / span 1;
	grid-row:4 / span 1;
	margin:auto;
	margin-left:2.5vw;
}
footer {
	height:12.5vh;
}
.footer-item {
	display:flex;
	align-content:center;
	justify-content:center;
	padding:auto;
	color:white;
}
}