nav{
    font-family:"Cabin", sans-serif;
    background-image: radial-gradient(circle, black 75%, cyan);
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
    height: 10vh;
    align-content: center;
}

.grid-item{
    text-align: center;
    color: white;
}

h1, p{
    font-family:"Cabin", sans-serif;
}

footer{
    font-family:"Cabin", sans-serif;
}